<!DOCTYPE html>
<html>
<head>
  <title>P,R,S - Stats</title>
  <link rel="stylesheet" href="styles/style.css">
 </head>
<body>
  <img id="headerimg" src="../images/logo.png" height="100" width="150">
  <h1>P, R, S: Showdown</h1>
  <a class="headerlink" href ="/">Home</a>
  <a class="headerlink" href ="/about">About</a>
  <a class="headerlink" href ="/<%=user.name%>/game">Game</a>
  <a class="headerlink" href ="/<%=user.name%>/stats">View Stats</a>
  <a class="headerlink" href ="/rules">View Rules</a>
  <a class="headerlink" href ="/">Logout</a>

  <div id="stats">
    <table>
      <tr>
        <th class="top_row">Player Name</th>
        <th class="top_row">Games Played</th>
        <th class="top_row">Games Won</th>
        <th class="top_row">Games Lost</th>
        <th class="top_row">Ties</th>
      </tr>

      <%for(var i=0;i<users.length;i++){%>
      <tr>
        <td>
        <%=users[i].name%>
        </td>
        <td>
        <%=users[i]["games played"]%>
        </td>
        <td>
        <%=users[i]["games won"]%>
        </td>
        <td>
        <%=users[i]["games lost"]%>
        </td>
        <td>
        <%var ties=users[i]["games played"]-users[i]["games won"]-users[i]["games lost"];%>
        <%=ties%>
        </td>
      </tr>

      <%}%>
    </table>
  </div>
  <% include global/footer %>
 </body>

</html>
