<!DOCTYPE html>
<html>
<head>
  <title>P,R,S - Stats</title>
  <link rel="stylesheet" href="../styles/style.css">
 </head>
<body>
  <% include global/header %>

  <div id="stats">
    <table>
      <tr>
        <th class="top_row">Player Name</th>
        <th class="top_row">Games Played</th>
        <th class="top_row">Games Won</th>
        <th class="top_row">Games Lost</th>
        <th class="top_row">Ties</th>
      </tr>

      <%for(var i=0;i<users.length;i++){%>
      <tr>
        <td>
        <%=users[i].name%>
        </td>
        <td>
        <%=users[i]["games played"]%>
        </td>
        <td>
        <%=users[i]["games won"]%>
        </td>
        <td>
        <%=users[i]["games lost"]%>
        </td>
        <td>
        <%var ties=users[i]["games played"]-users[i]["games won"]-users[i]["games lost"];%>
        <%=ties%>
        </td>
      </tr>

      <%}%>
    </table>
  </div>
  <% include global/footer %>
 </body>

</html>
